@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
html.no-scroll {
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

nav {
  width: 100vw;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  transition: ease 0.5s;
}
nav img {
  height: 60%;
  z-index: 12;
}
nav .header__burger {
  width: 35px;
  height: 25px;
  position: relative;
  display: none;
  border: none;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background: none;
}
nav .header__burger:hover {
  opacity: 0.85;
}
nav .header__burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
nav .header__burger span:nth-child(1) {
  top: 7px;
}
nav .header__burger span:nth-child(2) {
  top: 20px;
}
nav .header__burger.active span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}
nav .header__burger.active span:nth-child(2) {
  top: 18px;
  transform: rotate(-135deg);
}
nav .nav-link-container {
  display: block;
}
nav .nav-link-container .header-contact {
  display: none;
}
nav .nav-link-container .nav-link {
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  transition: ease 0.2s;
  padding: 1rem;
  cursor: pointer;
}
nav .nav-link-container .nav-link:hover {
  color: black;
  transition: ease-out 0.5s;
}
nav .nav-link-container .nav-link:nth-child(2n) {
  margin: 0 1rem;
}
nav .nav-link-container .nav-link:nth-last-child(1) {
  padding-right: 0;
}
@media only screen and (max-width: 1279px) {
  nav .header__burger:before, nav .header__burger:after {
    width: 24px;
  }
}
@media only screen and (max-width: 767px) {
  nav.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: ease 0.5s;
  }
  nav.fixed-top.active img {
    visibility: visible;
    transition: ease 0.5s;
    opacity: 1;
  }
  nav.fixed-top img {
    visibility: hidden;
    opacity: 0;
  }
  nav .header__burger {
    display: block;
    z-index: 12;
  }
  nav .header__burger:before, nav .header__burger:after {
    background: #111029;
    width: 24px;
  }
  nav .js-header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background: #fff;
    visibility: hidden;
    transition: all 0.25s;
    opacity: 0;
    transform: translateX(100%);
  }
  nav .js-header-wrapper.visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
  nav .js-header-wrapper .nav-link {
    font-size: 2rem;
    font-weight: 500;
    color: #000;
  }
  nav .js-header-wrapper .nav-link:nth-child(2n) {
    margin: 0;
  }
  nav .js-header-wrapper .nav-link:nth-last-child(1) {
    padding: 1rem;
  }
  nav .js-header-wrapper .header-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
  }
  nav .js-header-wrapper .header-contact a {
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 0.4rem 0;
  }
  nav .js-header-wrapper .header-contact a.mail {
    color: blue;
    padding: 0.2rem 0;
    border-bottom: 0.5px solid blue;
    margin-bottom: 0.6rem;
  }
}
@media only screen and (max-width: 639px) {
  nav {
    height: 80px;
  }
}

.swiper {
  width: 100vw;
  height: 75vh;
}
.swiper .swiper-slide.first {
  background: url("https://images.pexels.com/photos/1216589/pexels-photo-1216589.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
.swiper .swiper-slide.second {
  background: url("https://images.pexels.com/photos/1117210/pexels-photo-1117210.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
.swiper .swiper-slide.third {
  background: url("https://images.pexels.com/photos/10871621/pexels-photo-10871621.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
.swiper .swiper-slide .content {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 4rem 5rem;
}
.swiper .swiper-slide p {
  color: white;
}
.swiper .swiper-slide .heading {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
}
.swiper .swiper-slide .heading .blue {
  color: blue;
  font-size: 2.8rem;
}
.swiper .swiper-slide .btn-container {
  margin-top: 1.4rem;
}
.swiper .swiper-slide .btn-container .btn {
  font-size: 18px;
  background-color: blue;
  color: white;
  padding: 0.6rem 2rem;
  text-decoration: none;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  background-color: rgba(0, 0, 0, 0.2);
  transition: ease 0.5s;
  padding: 0 1rem;
  border-radius: 2px;
}
.swiper .swiper-button-prev:hover,
.swiper .swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.swiper .swiper-button-prev img,
.swiper .swiper-button-next img {
  width: 24px;
  height: 24px;
}
.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  display: none;
}
.swiper .swiper-pagination-bullet {
  background-color: white;
}
@media only screen and (max-width: 767px) {
  .swiper .swiper-slide .content p {
    padding-right: 0;
  }
  .swiper .swiper-slide .content .heading {
    font-size: 1.4rem;
  }
  .swiper .swiper-slide .content .heading .blue {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 489px) {
  .swiper {
    height: 100vh;
  }
  .swiper .swiper-slide .content {
    padding: 3rem;
    padding-bottom: 5rem;
    align-items: center;
  }
  .swiper .swiper-slide .content p {
    text-align: center;
  }
  .swiper .swiper-slide .content .btn-container {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 489px) and (min-height: 680px) {
  .swiper {
    height: 75vh;
  }
}
@media only screen and (max-width: 330px) {
  .swiper .swiper-slide .content {
    padding: 2rem;
    padding-bottom: 4rem;
  }
  .swiper .swiper-slide .content p {
    font-size: 0.9rem;
  }
  .swiper .swiper-slide .content .heading {
    font-size: 1.1rem;
  }
  .swiper .swiper-slide .content .heading .blue {
    font-size: 1.6rem;
  }
}

.about-section {
  padding: 4rem 3rem;
  display: flex;
}
.about-section .about-section-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 3rem;
}
.about-section .about-section-left .cl2 {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
}
.about-section .about-section-left .heading {
  margin-bottom: 0.4rem;
  font-size: 3rem;
}
.about-section .about-section-left .text {
  color: rgba(0, 0, 0, 0.7);
}
.about-section .about-section-left .btn-container {
  margin-top: 3rem;
}
.about-section .about-section-left .btn-container .btn {
  font-size: 18px;
  background-color: blue;
  color: white;
  padding: 0.6rem 2rem;
  text-decoration: none;
}
.about-section .about-section-right {
  flex: 1;
  padding-top: 3rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 1279px) {
  .about-section {
    flex-direction: column-reverse;
  }
  .about-section .about-section-right {
    width: 100%;
    border: none;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 0;
       object-position: 0 0;
  }
  .about-section .about-section-left {
    padding-right: 0;
  }
  .about-section .about-section-left .cl2 {
    width: 90%;
    padding: 1.2rem 0 1rem 0;
  }
}
@media only screen and (max-width: 1279px) and (max-height: 767px) {
  .about-section {
    padding: 0 3rem;
  }
  .about-section img {
    display: none;
  }
}
@media only screen and (max-width: 639px) {
  .about-section {
    padding: 0 2rem 4rem 2rem;
  }
  .about-section .about-section-right {
    padding: 0;
  }
  .about-section .about-section-left .cl2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-right: none;
    color: rgba(0, 0, 0, 0.5);
  }
}
@media only screen and (max-width: 330px) {
  .about-section .about-section-left .heading {
    font-size: 2rem;
  }
}

.services {
  padding: 4rem 3rem 0 3rem;
}
.services h1 {
  font-size: 3rem;
}
.services .text {
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.6);
}
.services .content {
  display: flex;
  align-items: flex-start;
}
.services .content .item {
  flex: 1;
  padding: 2rem 0;
}
.services .content .item:nth-child(2n) {
  margin: 0 1rem;
  padding: 2rem;
}
.services .content .item .header {
  display: flex;
  align-items: center;
}
.services .content .item .header .brand {
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 255, 0.8);
  border-radius: 100%;
  display: grid;
  place-items: center;
}
.services .content .item .header .brand svg {
  transform: scale(0.8);
}
.services .content .item .header .brand svg path {
  fill: white;
}
.services .content .item .header p {
  font-size: 1.2rem;
  margin-left: 0.6rem;
  color: black;
}
.services .content .item p {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0.4rem;
}
@media only screen and (max-width: 1279px) {
  .services {
    padding: 0 3rem 4rem 3rem;
  }
  .services .content {
    flex-direction: column;
  }
  .services .content .item {
    padding: 1rem;
  }
  .services .content .item:nth-child(2n) {
    margin: 0;
    padding: 2rem 1rem;
  }
  .services .content .item .header .brand {
    width: 42px;
    height: 42px;
    min-width: 42px;
  }
  .services .content .item .header .brand svg {
    transform: scale(1);
  }
  .services .content .item .header .p {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 1279px) and (max-height: 767px) {
  .services {
    padding: 0 3rem;
  }
  .services img {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .services {
    padding: 4rem 2rem 0 2rem;
  }
  .services .content .item {
    padding: 2rem 0 0 0;
  }
  .services .content .item:nth-child(2n) {
    padding: 2rem 0 0 0;
  }
}
@media only screen and (max-width: 330px) {
  .services {
    padding: 2rem;
  }
  .services h1 {
    font-size: 1.8rem;
  }
}

.welcome {
  padding: 4rem 3rem 0 3rem;
}
.welcome h1 {
  font-size: 3rem;
}
.welcome .text {
  margin-bottom: 1.4rem;
  color: rgba(0, 0, 0, 0.6);
}
@media only screen and (max-width: 1279px) {
  .welcome {
    padding: 4rem 3rem 5rem 3rem;
  }
}
@media only screen and (max-width: 639px) {
  .welcome {
    padding: 4rem 2rem 0 2rem;
  }
  .welcome h1 {
    font-size: 2.6rem;
  }
  .welcome .text {
    margin: 2rem 0;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 330px) {
  .welcome h1 {
    font-size: 2rem;
  }
}

.wrk-ethic {
  padding: 4rem 3rem 0 3rem;
}
.wrk-ethic .line-container {
  display: flex;
  align-items: flex-end;
}
.wrk-ethic .line-container div {
  flex: 1;
}
.wrk-ethic .line-container div.bordered {
  flex: 2;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 3rem;
  padding-top: 1.4rem;
}
.wrk-ethic .line-container div.text-container {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
}
.wrk-ethic .line-container div.text-container p {
  text-align: right;
  color: rgba(0, 0, 0, 0.5);
}
.wrk-ethic h1 {
  text-align: right;
  font-size: 3rem;
  margin-bottom: 1.4rem;
}
.wrk-ethic .bg-fixed {
  background: url("https://images.pexels.com/photos/11580364/pexels-photo-11580364.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  height: 40vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrk-ethic .text {
  margin: 1.4rem 0;
  color: rgba(0, 0, 0, 0.6);
}
@media only screen and (max-width: 1279px) {
  .wrk-ethic .line-container div.bordered {
    margin-right: 0;
    padding: 1rem 0;
  }
  .wrk-ethic .line-container div.text-container {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .wrk-ethic h1 {
    margin: 1.4rem 0;
  }
}
@media only screen and (max-width: 1279px) and (max-height: 767px) {
  .wrk-ethic {
    padding: 0 3rem 4rem 3rem;
  }
}
@media only screen and (max-width: 767px) {
  .wrk-ethic .line-container div.bordered {
    flex: 1;
    border: none;
  }
  .wrk-ethic .line-container div.text-container {
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
@media only screen and (max-width: 639px) {
  .wrk-ethic {
    padding: 4rem 2rem 0 2rem;
  }
  .wrk-ethic h1 {
    font-size: 2.6rem;
  }
  .wrk-ethic .line-container div.bordered {
    display: none;
  }
  .wrk-ethic .line-container div.text-container {
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
@media only screen and (max-width: 330px) {
  .wrk-ethic h1 {
    font-size: 2rem;
  }
}

.team {
  padding: 4rem 3rem 5rem 3rem;
  overflow: hidden;
}
.team h1 {
  font-size: 3rem;
  margin-bottom: 1.4rem;
}
.team .text {
  margin: 1.4rem 0;
  color: rgba(0, 0, 0, 0.6);
}
.team .swiper1 {
  width: 100%;
  height: 500px;
  padding-top: 2rem;
}
.team .swiper1 .swiper-wrapper .swiper-slide {
  margin-right: 30px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 300px;
  transition: ease 0.5s;
  position: relative;
}
.team .swiper1 .swiper-wrapper .swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
  filter: grayscale(100%);
  opacity: 0.4;
}
.team .swiper1 .swiper-wrapper .swiper-slide .overlay {
  display: none;
}
.team .swiper1 .swiper-wrapper .swiper-slide.swiper-slide-active {
  height: 500px;
}
.team .swiper1 .swiper-wrapper .swiper-slide.swiper-slide-active img {
  filter: grayscale(0%);
  opacity: 1;
}
.team .swiper1 .swiper-wrapper .swiper-slide.swiper-slide-active .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0) 50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem 1rem;
}
.team .swiper1 .swiper-wrapper .swiper-slide.swiper-slide-active .overlay p {
  color: white;
}
.team .swiper1 .swiper-wrapper .swiper-slide.swiper-slide-active .overlay .heading {
  font-size: 2rem;
  font-weight: 400;
}
.team .swiper1 .swiper-wrapper .swiper-slide.swiper-slide-active .overlay .title {
  font-size: 0.9rem;
  font-weight: 300;
}
@media only screen and (max-width: 1279px) {
  .team h1 {
    margin-bottom: 0;
  }
  .team .text {
    margin: 0;
  }
  .team .swiper-wrapper .swiper-slide {
    width: 220px;
  }
  .team .swiper-wrapper .swiper-slide.swiper-slide-active .overlay .heading {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 639px) {
  .team {
    padding: 4rem 2rem 5rem 2rem;
  }
  .team h1 {
    font-size: 2.6rem;
  }
}
@media only screen and (max-width: 330px) {
  .team h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.contact {
  padding: 4rem 3rem 2rem 3rem;
}
.contact h1 {
  font-size: 3rem;
  margin-bottom: 1.4rem;
}
.contact .text {
  margin: 1.4rem 0;
  color: rgba(0, 0, 0, 0.6);
}
.contact .contact-content {
  display: flex;
}
.contact .contact-content .contact-content-left,
.contact .contact-content .contact-content-right {
  flex: 1;
}
.contact .contact-content .contact-content-left .item {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
}
.contact .contact-content .contact-content-left .item a {
  text-decoration: none;
  margin-left: 2rem;
  color: black;
  font-size: 1.1rem;
}
.contact .contact-content .contact-content-right .input-container {
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  padding: 0.6rem;
  border-radius: 2px;
}
.contact .contact-content .contact-content-right .input-container input,
.contact .contact-content .contact-content-right .input-container textarea {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0 1rem;
  font-size: 16px;
}
.contact .contact-content .contact-content-right .input-container textarea {
  padding: 1rem;
  resize: none;
}
.contact .contact-content .contact-content-right .input-container .icon {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}
.contact .contact-content .contact-content-right .submit-btn {
  padding: 1.4rem 3rem;
  border-radius: 20px;
  background: #4C40F7;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  transition: all 0.25s;
}
.contact .contact-content .contact-content-right .submit-btn p {
  margin-right: 30px;
  font-size: 1.2rem;
}
.contact .contact-content .contact-content-right .submit-btn:hover {
  transform: translateY(-2px);
}
@media only screen and (max-width: 812px) {
  .contact .contact-content {
    flex-direction: column;
  }
  .contact .contact-content .contact-content-left {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 639px) {
  .contact {
    padding: 4rem 2rem 2rem 2rem;
  }
}
@media only screen and (max-width: 330px) {
  .contact h1 {
    font-size: 2rem;
  }
}

.projects {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-100%);
  z-index: 20;
  visibility: hidden;
  background: #111029;
  transition: all ease-in-out 0.25s;
  overflow-x: hidden;
  overflow-y: scroll;
}
.projects.visible {
  transform: translate(0);
  background: #111029;
  visibility: visible;
}
.projects .top {
  width: 100vw;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
  transition: ease 0.5s;
}
.projects .top .header__burger__ {
  width: 35px;
  height: 25px;
  position: relative;
  border: none;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background: none;
}
.projects .top .header__burger__:hover {
  opacity: 0.85;
}
.projects .top .header__burger__ span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.projects .top .header__burger__ span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}
.projects .top .header__burger__ span:nth-child(2) {
  top: 18px;
  transform: rotate(-135deg);
}
@media only screen and (max-width: 639px) {
  .projects .top {
    height: 80px;
  }
}
.projects .content {
  flex: 1;
  padding: 0 3rem 3rem 3rem;
  color: white;
}
@media only screen and (max-width: 639px) {
  .projects .content {
    padding: 0 3rem 0 3rem;
  }
}
.projects .content p {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
}
.projects .content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.projects .content .swiper2 {
  height: 100%;
  width: 100%;
  position: relative;
}
.projects .content .swiper2 .swiper-wrapper .swiper-slide {
  display: flex;
}
@media only screen and (max-width: 639px) {
  .projects .content .swiper2 .swiper-wrapper .swiper-slide {
    flex-direction: column;
  }
}
.projects .content .swiper2 .swiper-wrapper .swiper-slide.active .overlay {
  background: #2e2c46;
}
.projects .content .swiper2 .swiper-wrapper .swiper-slide .swiper-zoom-container {
  flex: 1;
}
.projects .content .swiper2 .swiper-wrapper .swiper-slide .swiper-zoom-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .content .swiper2 .swiper-wrapper .swiper-slide .overlay {
  flex: 2;
  padding: 3rem;
}
@media only screen and (max-width: 436px) {
  .projects .content .swiper2 .swiper-wrapper .swiper-slide .overlay {
    padding: 1rem;
  }
}
.projects .content .swiper2 .swiper2-button-prev,
.projects .content .swiper2 .swiper2-button-next {
  position: fixed;
  top: 80%;
  z-index: 2;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}
.projects .content .swiper2 .swiper2-button-prev {
  left: 1rem;
}
.projects .content .swiper2 .swiper2-button-next {
  right: 1rem;
}
@media only screen and (max-width: 639px) {
  .projects .content h1 {
    font-size: 2.6rem;
  }
}

.footer {
  padding: 4rem 3rem 2rem 3rem;
}
.footer .footer__bottom {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 639px) {
  .footer .footer__bottom .footer__copyright {
    margin-right: 2rem;
  }
}/*# sourceMappingURL=style.css.map */