@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  width: 100vw;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
nav img {
  height: 60%;
}
nav .nav-link-container {
  display: flex;
  align-items: center;
}
nav .nav-link-container .nav-link {
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  transition: ease 0.2s;
  padding: 1rem;
}
nav .nav-link-container .nav-link:hover {
  color: black;
  transition: ease-out 0.5s;
}
nav .nav-link-container .nav-link:nth-child(2n) {
  margin: 0 1rem;
}
nav .nav-contact {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}
nav .nav-contact .nav-link {
  text-decoration: none;
  transition: ease 0.5s;
  display: grid;
  place-items: center;
}
nav .nav-contact .nav-link:hover {
  opacity: 0.8;
}
nav .nav-contact .nav-link:nth-child(1) {
  margin-right: 10px;
}

.swiper {
  width: 100vw;
  height: 75vh;
}
.swiper .swiper-slide.first {
  background: url("https://images.pexels.com/photos/1216589/pexels-photo-1216589.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
.swiper .swiper-slide.second {
  background: url("https://images.pexels.com/photos/1117210/pexels-photo-1117210.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
.swiper .swiper-slide.third {
  background: url("https://images.pexels.com/photos/10871621/pexels-photo-10871621.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
.swiper .swiper-slide .content {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 4rem 5rem;
}
.swiper .swiper-slide p {
  color: white;
  padding-right: 30%;
}
.swiper .swiper-slide .heading {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
}
.swiper .swiper-slide .heading .blue {
  color: blue;
  font-size: 2.8rem;
}
.swiper .swiper-slide .btn-container {
  margin-top: 1.4rem;
}
.swiper .swiper-slide .btn-container .btn {
  font-size: 18px;
  background-color: blue;
  color: white;
  padding: 0.6rem 2rem;
  text-decoration: none;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  background-color: rgba(0, 0, 0, 0.2);
  transition: ease 0.5s;
  padding: 0 1rem;
  border-radius: 2px;
}
.swiper .swiper-button-prev:hover,
.swiper .swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.swiper .swiper-button-prev img,
.swiper .swiper-button-next img {
  width: 24px;
  height: 24px;
}
.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  display: none;
}
.swiper .swiper-pagination-bullet {
  background-color: white;
}

.about-section {
  padding: 4rem 3rem;
  display: flex;
  height: 100vh;
}
.about-section .about-section-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 3rem;
}
.about-section .about-section-left .cl2 {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
}
.about-section .about-section-left .heading {
  margin-bottom: 0.4rem;
  font-size: 3rem;
}
.about-section .about-section-left .text {
  color: rgba(0, 0, 0, 0.7);
}
.about-section .about-section-left .btn-container {
  margin-top: 3rem;
}
.about-section .about-section-left .btn-container .btn {
  font-size: 18px;
  background-color: blue;
  color: white;
  padding: 0.6rem 2rem;
  text-decoration: none;
}
.about-section .about-section-right {
  flex: 1;
  padding-top: 3rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.services {
  padding: 4rem 3rem 0 3rem;
}
.services h1 {
  font-size: 3rem;
}
.services .text {
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.6);
}
.services .content {
  display: flex;
  align-items: flex-start;
}
.services .content .item {
  padding: 2rem 0;
}
.services .content .item:nth-child(2n) {
  margin: 0 1rem;
  padding: 2rem;
}
.services .content .item .header {
  display: flex;
  align-items: center;
}
.services .content .item .header .brand {
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 255, 0.8);
  border-radius: 100%;
  display: grid;
  place-items: center;
}
.services .content .item .header .brand svg {
  transform: scale(0.8);
}
.services .content .item .header .brand svg path {
  fill: white;
}
.services .content .item .header p {
  font-size: 1.2rem;
  margin-left: 0.6rem;
  color: black;
}
.services .content .item p {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0.4rem;
}

.welcome {
  padding: 4rem 3rem 0 3rem;
}
.welcome h1 {
  font-size: 3rem;
}
.welcome .text {
  margin-bottom: 1.4rem;
  color: rgba(0, 0, 0, 0.6);
}

.wrk-ethic {
  padding: 4rem 3rem 0 3rem;
}
.wrk-ethic .line-container {
  display: flex;
  align-items: flex-end;
}
.wrk-ethic .line-container div {
  flex: 1;
}
.wrk-ethic .line-container div.bordered {
  flex: 2;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 3rem;
  padding-top: 1.4rem;
}
.wrk-ethic .line-container div.text-container {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
}
.wrk-ethic .line-container div.text-container p {
  text-align: right;
  color: rgba(0, 0, 0, 0.5);
}
.wrk-ethic h1 {
  text-align: right;
  font-size: 3rem;
  margin-bottom: 1.4rem;
}
.wrk-ethic .bg-fixed {
  background: url("https://images.pexels.com/photos/11580364/pexels-photo-11580364.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  height: 40vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrk-ethic .text {
  margin: 1.4rem 0;
  color: rgba(0, 0, 0, 0.6);
}

.team {
  padding: 4rem 3rem 5rem 3rem;
  overflow: hidden;
}
.team h1 {
  font-size: 3rem;
  margin-bottom: 1.4rem;
}
.team .text {
  margin: 1.4rem 0;
  color: rgba(0, 0, 0, 0.6);
}
.team .swiper1 {
  width: 100%;
  height: 500px;
  padding-top: 2rem;
}
.team .swiper1 .swiper-wrapper .swiper-slide {
  width: 100px;
  margin-right: 30px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 300px;
  transition: ease 0.5s;
  position: relative;
}
.team .swiper1 .swiper-wrapper .swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
  opacity: 0.4;
}
.team .swiper1 .swiper-wrapper .swiper-slide .overlay {
  display: none;
}
.team .swiper1 .swiper-wrapper .swiper-slide.swiper-slide-active {
  height: 500px;
}
.team .swiper1 .swiper-wrapper .swiper-slide.swiper-slide-active img {
  filter: grayscale(0%);
  opacity: 1;
}
.team .swiper1 .swiper-wrapper .swiper-slide.swiper-slide-active .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0) 50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem 1rem;
}
.team .swiper1 .swiper-wrapper .swiper-slide.swiper-slide-active .overlay p {
  color: white;
}
.team .swiper1 .swiper-wrapper .swiper-slide.swiper-slide-active .overlay .heading {
  font-size: 2rem;
  font-weight: 400;
}
.team .swiper1 .swiper-wrapper .swiper-slide.swiper-slide-active .overlay .title {
  font-size: 0.9rem;
  font-weight: 300;
}

.contact {
  padding: 4rem 3rem 2rem 3rem;
}
.contact h1 {
  font-size: 3rem;
  margin-bottom: 1.4rem;
}
.contact .text {
  margin: 1.4rem 0;
  color: rgba(0, 0, 0, 0.6);
}
.contact .contact-content {
  display: flex;
}
.contact .contact-content .contact-content-left,
.contact .contact-content .contact-content-right {
  flex: 1;
}
.contact .contact-content .contact-content-left .item {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.contact .contact-content .contact-content-left .item a {
  text-decoration: none;
  margin-left: 2rem;
  color: black;
  font-size: 1.1rem;
}
.contact .contact-content .contact-content-right .input-container {
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  padding: 0.6rem;
  border-radius: 2px;
}
.contact .contact-content .contact-content-right .input-container input, .contact .contact-content .contact-content-right .input-container textarea {
  flex: 1;
  border: none;
  outline: none;
  background: none;
  padding: 0 1rem;
  font-size: 16px;
}
.contact .contact-content .contact-content-right .input-container textarea {
  padding: 1rem;
  resize: none;
}
.contact .contact-content .contact-content-right .input-container .icon {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}
.contact .contact-content .contact-content-right .submit-btn {
  padding: 1.4rem 3rem;
  border-radius: 20px;
  background: #4C40F7;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  transition: all 0.25s;
}
.contact .contact-content .contact-content-right .submit-btn p {
  margin-right: 30px;
  font-size: 1.2rem;
}
.contact .contact-content .contact-content-right .submit-btn:hover {
  transform: translateY(-2px);
}

.footer {
  padding: 4rem 3rem 2rem 3rem;
}
.footer .footer__bottom {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */